@import "tailwindcss";

*{
   /* border: 1px solid red; */
    
}

body{
    height: 100vh;
}

.pie-pagina{
    background-color: #12b3db;
}

.formulario input{
    width: 100%;

}

.formulario label{
    display: block;
}

.formulario textarea{
    resize: none;
}