@import "tailwindcss";

*{
   /* border: 1px solid red; */
    
}

body{
    height: 100vh;
}

.formulario-items input, textarea{
    border: 1px solid #000;
    border-radius: 6px;
}

.formulario-items textarea{
    resize: none;
    min-height: 7rem;
}

.pie-pagina{
    background-color: #004D67;
}

.contacto-directo{
    background-color: #b69568;
}